
#wrapSearchResults{position:relative;float:left;clear:both;}
#searchResultsBox .content{padding:0;overflow:visible;}
#wrapSearchResults div.resultLoader{position:absolute;top:0;left:1px;background:#FFF url(/_static/images/interface/loader_big_white.gif) no-repeat center 150px;width:580px;height:100%;display:block;z-index:15;}
#searchResultsBox ul.particularsearch{margin:11px 18px 0 0;display:inline;}
#searchResults{clear:both;position:relative;border-left:1px solid #E1E1E1;border-right:1px solid #E1E1E1;width:580px;overflow:hidden;}
#searchResults .builder{width:21px;height:15px;background:url(/_static/images/interface/sprite_global.png) no-repeat -24px -211px;display:block;position:absolute;right:18px;top:40px;}
#searchResults .letter{position:absolute;right:15px;top:2px;width:25px;color:#FFF;text-indent:-99999px;height:30px;}
#searchResults .letter{background:url(/_static/images/interface/sprite_global_duproprio.png) no-repeat;}
.site-skhomes4sale #searchResults .letter{background-image:url(/_static/images/interface/sprite_global_skhomes4sale.png);}
.site-pre #searchResults .letter{background-image:url(/_static/images/interface/sprite_global_pre.png);}
#searchResults .current .letter{background:url(/_static/images/interface/sprite_global.png) no-repeat;}
.site-skhomes4sale #searchResults .current .letter{background-image:url(/_static/images/interface/sprite_global.png);}
.site-pre #searchResults .current .letter{background-image:url(/_static/images/interface/sprite_global.png);}
#searchResults .lA{background-position:0px -208px;}
#searchResults .lB{background-position:-30px -208px;}
#searchResults .lC{background-position:-60px -208px;}
#searchResults .lD{background-position:-90px -208px;}
#searchResults .lE{background-position:-121px -208px;}
#searchResults .lF{background-position:-152px -208px;}
#searchResults .lG{background-position:-182px -208px;}
#searchResults .lH{background-position:-212px -208px;}
#searchResults .lI{background-position:-242px -208px;}
#searchResults .lJ{background-position:-272px -208px;}
#searchResults .current .lA{background-position:-0px -307px;}
#searchResults .current .lB{background-position:-30px -307px;}
#searchResults .current .lC{background-position:-60px -307px;}
#searchResults .current .lD{background-position:-90px -307px;}
#searchResults .current .lE{background-position:-121px -307px;}
#searchResults .current .lF{background-position:-152px -307px;}
#searchResults .current .lG{background-position:-182px -307px;}
#searchResults .current .lH{background-position:-212px -307px;}
#searchResults .current .lI{background-position:-242px -307px;}
#searchResults .current .lJ{background-position:-272px -307px;}
#searchResults li{list-style:none;margin:0 0 14px 0;overflow:hidden;position:relative;min-height:130px;height:auto!important;height:130px;float:left;width:580px;}
#searchResults li.noresults{padding:0 110px 20px 20px;width:470px;margin:0;border-bottom:1px solid #e1e1e1;}
#searchResults li.last{margin-bottom:0;}
#searchResults li a.showimage{position:absolute;top:2px;left:14px;}
#searchResults .resultData{overflow:hidden;padding:4px 0 0 189px;width:352px;position:relative;min-height:99px;height:auto!important;height:99px;}
#searchResults .promo{margin:14px 0 0 0;background:url(/images/recherche/resultat/expo-habitat/fond_expo.gif) no-repeat;}
#searchResults .promo .resultData{width:290px;}
#searchResults .resultData p{font-size:11px;margin:17px 0 14px 0;}
#searchResults .resultData .infoSold{margin:17px 0 14px 0;}
#searchResults .resultData .infoSold strong{color:#000;}
#searchResults .resultData .infoSold p{margin:0;}
#searchResults .resultData p.price{margin:0;float:right;font-size:14px;font-weight:bold;letter-spacing:0px;}
#searchResults .resultData p.price span{font-size:12px;font-weight:bold;}
#searchResults .resultMeta{padding:9px 0;background:#f9f9f9;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;width:100%;float:left;min-height:12px;height:auto!important;height:12px;}
#searchResults .resultMeta p{font-size:11px;margin:0 30px 0 189px;}
#searchResults h4,#searchResults h5{font-family:Arial,Helvetica,sans-serif;padding:0;text-transform:none;font-size:14px;line-height:14px;letter-spacing:0px;}
#searchResults h4 span.precision{font-size:11px;color:#f0001a;}
#searchResults h5{font-size:12px;margin-top:1px;line-height:12px;}
#searchNav{background:url(/_static/images/interface/search/border_pagination.gif) no-repeat left top;padding:16px 15px;float:left;width:572px;z-index:20;}
#searchNav h4{padding:0;margin:2px 0 12px;font-size:14px;color:#000;}
#emailAlert{clear:both;position:relative;margin:30px 0 0 0;}
#emailAlert .ui-button{position:relative;}
#email-alert-container{min-height:130px;width:560px;padding-top:5px;padding-bottom:0;overflow:hidden;}
#emailAlert .header h3{font-weight:normal;margin:0 14px;padding:21px 0;}
#emailAlert .header{width:601px;}
#emailAlert .email-letter{position:absolute;left:14px;}
#emailAlert .rss-alert{right:0;top:60px;position:absolute;color:#fb902e;text-align:center;background:url(/_static/images/interface/search/rss_alert.jpg) no-repeat 5px top;display:block;width:80px;height:65px;padding:75px 21px 0 21px;font-size:11px;}
#emailAlert .rss-text{display:block;width:60px;text-align:center;font-family:Arial,Helvetica,sans-serif;font-size:11px;right:35px;top:135px;position:absolute;color:#f9912e;margin-left:auto;margin-right:auto;}
#emailAlert .rss-text a{color:#f9912e;}
#emailAlert p{padding-left:100px;width:353px;}
#emailAlert .form-lbl{font-weight:normal;margin-top:10px;}
#emailAlert .form-txt{min-width:205px;max-width:205px;width:205px;margin-right:12px;displauy:inline;}
#emailAlert .already-have-account{display:block;margin-top:15px;margin-left:3px;color:#000;clear:both;}
#emailAlert .hidden{display:none;}
.alert-succes{display:block;margin-top:25px;margin-bottom:10px;color:#000;}
.green-check{background:url("/_static/images/interface/sprite_global_duproprio.png") no-repeat scroll -107px -146px transparent;display:inline-block;height:21px;margin:0 auto;width:25px;}
.site-skhomes4sale .green-check{background-image:url(/_static/images/interface/sprite_global_skhomes4sale.png);}
#boxMapResults .header{position:relative;}
#boxMapResults h3{font-size:16px;padding:15px 0 11px 7px;}
#boxMapResults .header .icon{display:block;position:absolute;right:0;top:0;width:40px;height:42px;border-left:1px solid #e1e1e1;background:url(/_static/images/interface/sprite_global.png) no-repeat -73px -251px;}
#boxMapResults .content{padding:0;margin:0;}
#boxMapResults #miniMapResults,#boxMapResults .content{width:298px;height:296px;}
#boxMapResults .footer{padding:0;height:39px;line-height:1em;border-top:1px solid #E1E1E1;}
#boxMapResults .footer a{display:block;width:250px;padding:0 0 0 78px;height:39px;line-height:39px;position:relative;font-size:12px;overflow:hidden;background:url(/_static/images/interface/sprite_background_duproprio.png) repeat-x 0 -94px;float:right;}
#boxMapResults .footer a span.text{float:right;font-weight:bolder;padding:0 54px 0 0;position:relative;text-transform:none;}
#boxMapResults .footer a span.arrowWhiteRight{position:absolute;right:0;top:50%;margin-top:-3px;}
#boxMapResults .footer a span.icon{display:block;position:absolute;right:0px;top:0px;width:40px;height:40px;float:right;background:url(/_static/images/interface/sprite_global.png) no-repeat -73px -253px;}
#boxMapResults .footer a{background:url("/_static/images/interface/sprite_background.png") repeat-x scroll 0 -80px #F5F5F5;}
#boxMapResults .footer a:hover{text-decoration:none;background-position:0 -198px;}
#boxMapResults .footer a:hover span.icon{background-color:transparent;}
#boxMapResults .arrowRight{background-position:-54px -88px;height:10px;position:absolute;right:41px;top:15px;width:7px;}
.featuresHomes .content{padding:5px 8px 0 9px;}
.featuresHomes li.homeLine ol{margin:0 0 5px;overflow:hidden;padding:0;}
.featuresHomes ol li.home{width:136px;margin:0 6px 0 0;}
.featuresHomes ol li.home img{height:102px !important;}
.featuresHomes a.showimage,span.showimage{height:102px !important;}
.featuresHomes ol li.last{margin:0;}
.featuresHomes .stars{width:260px;}
.featuresHomes #titleFeatureHome{font-size:16px;padding:15px 0 11px 7px;}
.featuresHomes ol li.home ul li{display:inline;font-weight:bold;list-style:none outside none;}
.featuresHomes ol li.home ul li.price{display:block;font-weight:normal;}
#featuresHomes .footer{width:250px;padding-right:30px;background:url("/_static/images/interface/sprite_background.png") repeat-x scroll 0 -80px #F5F5F5;height:40px;}
#featuresHomes .footer a{float:right;position:relative;margin-right:0px;margin-top:2px;}
#featuresHomes .arrowRight{background-position:-54px -88px;height:10px;width:7px;position:absolute;right:-15px;top:14px;}
#introConstructor{padding:15px 4px;margin-bottom:10px;}
#introConstructor h1{font-size:30px;color:#000;margin:0;}
#introConstructor h3{font-size:20px;margin:0;line-height:20px;color:#8e8e8e;}
#infosConstructor h5{font-size:17px;color:#000;margin-bottom:10px;}
#infosConstructor .photo{text-align:center;margin-bottom:15px;overflow:hidden;}
#infosConstructor .photo img{max-width:260px;}
#infosConstructor .office ul{margin:0 20px 0;}
#infosConstructor .office ul li{list-style:none;margin:0 0 3px 0;font-size:12px;}
#altNavBox ul{margin-bottom:16px;}
#altNavBox ul li{font-size:11px;margin-bottom:3px;}

.block {
	clear:left;
	float:left;
}

		#mapspb {
			margin:0;
			padding:0;
			width:641px;
			height:496px;
			background:url(img/metro-spb.gif) top left no-repeat #fff;
			font-family:arial, helvetica, sans-serif;
			font-size:9px;
		}
		
		#mapspb li {
			margin:0;
			padding:0;
			list-style:none;
		}
		
		#mapspb li a {
			position:absolute;
			display:block;
			/*
			   Specifying a background image
			   (a 1px by 1px transparent gif)
			   fixes a bug in older versions of
			   IE that causeses the block to not
			   render at its full dimensions.
			*/
   			background:url(blank.gif);
   			text-decoration:none;
			color:#000;
		}

		.nsel a span{
			display:none;
		}
		
		.nsel a:hover span{
			position:relative;
			display:block;
			background:#ff2400; 
			filter:alpha(opacity=30);
			opacity:0.1;
		}

		.sel a span{
			position:relative;
			display:block;
			background:#ff2400; 
			filter:alpha(opacity=30);
			opacity:0.3;
		}
		
		.disp {
			position:relative;
			display:block;
			background:#ff2400; 
			filter:alpha(opacity=30);
			opacity:0.3;
		}

		
		.selspan a span{
			position:relative;
			display:block;
			background:#ff2400; 
			filter:alpha(opacity=30);
			opacity:0.3;
		}
	
		#mapspb a.Komendantskiiypr {
			top:41px;
			left:87px;
			width:90px;
			height:9px;
		}
		#mapspb a.Staraiaderevnia {
			top:49px;
			left:87px;
			width:90px;
			height:9px;
		}
		#mapspb a.Krestovskiiyostrov {
			top:90px;
			left:87px;
			width:90px;
			height:10px;
		}
		#mapspb a.Chkalovskaia {
			top:127px;
			left:87px;
			width:90px;
			height:10px;
		}
		#mapspb a.Sportivnaia {
			top:137px;
			left:87px;
			width:90px;
			height:10px;
		}
		#mapspb a.Spasskaia {
			top:247px;
			left:227px;
			width:40px;
			height:10px;
		}
		#mapspb a.Zvenigorodskaia {
			top:350px;
			left:232px;
			width:75px;
			height:10px;
		}
		#mapspb a.Volkovskaia {
			top:440px;
			left:322px;
			width:51px;
			height:10px;
		}

	

		#mapspb a.Parnas {
			top:23px;
			left:226px;
			width:90px;
			height:9px;
		}
		#mapspb a.PrProsvesheniia {
			top:33px;
			left:226px;
			width:90px;
			height:9px;
		}
		#mapspb a.Ozerki {
			top:43px;
			left:226px;
			width:90px;
			height:9px;
		}
		#mapspb a.Udelnaia {
			top:53px;
			left:226px;
			width:90px;
			height:9px;
		}
		#mapspb a.Pionerskaia {
			top:63px;
			left:226px;
			width:90px;
			height:9px;
		}
		#mapspb a.Chernaiarechka {
			top:73px;
			left:226px;
			width:90px;
			height:9px;
		}
		#mapspb a.Petrogradskaia {
			top:117px;
			left:226px;
			width:90px;
			height:9px;
		}
		#mapspb a.Gorkovskaia {
			top:127px;
			left:226px;
			width:90px;
			height:9px;
		}
		#mapspb a.Nevskiiypr {
			top:186px;
			left:123px;
			width:90px;
			height:9px;
		}
		#mapspb a.Sennaya {
			top:268px;
			left:123px;
			width:90px;
			height:9px;
		}
		#mapspb a.Texnologicheskiiyinstitut {
			top:322px;
			left:85px;
			width:130px;
			height:9px;
		}
		#mapspb a.Frunzenskaia {
			top:403px;
			left:125px;
			width:90px;
			height:9px;
		}
		#mapspb a.Moskovskievorota {
			top:413px;
			left:125px;
			width:90px;
			height:9px;
		}
		#mapspb a.Elektrosila {
			top:423px;
			left:125px;
			width:90px;
			height:9px;
		}
		#mapspb a.ParkPobedi {
			top:433px;
			left:125px;
			width:90px;
			height:9px;
		}
		#mapspb a.Moskovskaia {
			top:443px;
			left:125px;
			width:90px;
			height:9px;
		}
		#mapspb a.Zvezdnaia {
			top:453px;
			left:125px;
			width:90px;
			height:9px;
		}
		#mapspb a.Kupchino {
			top:463px;
			left:125px;
			width:90px;
			height:9px;
		}

		



		#mapspb a.Primorskaia {
			top:158px;
			left:14px;
			width:90px;
			height:9px;
		}
		#mapspb a.Vasileostrovskaia {
			top:207px;
			left:5px;
			width:90px;
			height:9px;
		}
		#mapspb a.Gostinniiydvor {
			top:207px;
			left:124px;
			width:90px;
			height:9px;
		}
		#mapspb a.plVosstaniia {
			top:185px;
			left:374px;
			width:90px;
			height:9px;
		}
		#mapspb a.PlAlNevskogo {
			top:240px;
			left:493px;
			width:148px;
			height:9px;
		}
		#mapspb a.Elizarovskaia {
			top:387px;
			left:434px;
			width:90px;
			height:9px;
		}
		#mapspb a.Lomonosovskaia {
			top:397px;
			left:434px;
			width:90px;
			height:9px;
		}
		#mapspb a.Proletarskaya {
			top:407px;
			left:434px;
			width:90px;
			height:9px;
		}
		#mapspb a.Obuxovo {
			top:417px;
			left:434px;
			width:90px;
			height:9px;
		}
		#mapspb a.Ribackoe {
			top:427px;
			left:434px;
			width:90px;
			height:9px;
		}


		#mapspb a.Maiakovskaia {
			top:207px;
			left:372px;
			width:90px;
			height:9px;
		}


		#mapspb a.Deviatkino {
			top:31px;
			left:373px;
			width:90px;
			height:9px;
		}
		#mapspb a.Grazhdanskiiypr {
			top:41px;
			left:373px;
			width:90px;
			height:9px;
		}
		#mapspb a.Akademicheskaia {
			top:51px;
			left:373px;
			width:90px;
			height:9px;
		}
		#mapspb a.Politexnicheskaia {
			top:61px;
			left:373px;
			width:90px;
			height:9px;
		}
		#mapspb a.PlMuzhestva {
			top:71px;
			left:373px;
			width:90px;
			height:9px;
		}
		#mapspb a.Lesnaia {
			top:81px;
			left:373px;
			width:90px;
			height:9px;
		}
		#mapspb a.Viborgskaia {
			top:91px;
			left:373px;
			width:90px;
			height:9px;
		}
		#mapspb a.PlLenina {
			top:101px;
			left:373px;
			width:90px;
			height:9px;
		}
		#mapspb a.Chernishevskaia {
			top:143px;
			left:373px;
			width:90px;
			height:9px;
		}
		#mapspb a.Vladimirskaia {
			top:247px;
			left:324px;
			width:90px;
			height:9px;
		}
		#mapspb a.Pushkinskaia {
			top:360px;
			left:232px;
			width:90px;
			height:9px;
		}
		#mapspb a.Baltiiyskaia {
			top:373px;
			left:55px;
			width:90px;
			height:9px;
		}
		#mapspb a.Narvskaia {
			top:388px;
			left:40px;
			width:90px;
			height:9px;
		}
		#mapspb a.Kirovskiiyzavod {
			top:426px;
			left:1px;
			width:90px;
			height:9px;
		}
		#mapspb a.Avtovo {
			top:442px;
			left:1px;
			width:90px;
			height:9px;
		}
		#mapspb a.Leninskiiypr {
			top:453px;
			left:1px;
			width:90px;
			height:9px;
		}
		#mapspb a.prVeteranov {
			top:464px;
			left:1px;
			width:90px;
			height:9px;
		}


		#mapspb a.Sadovaya {
			top:248px;
			left:124px;
			width:90px;
			height:9px;
		}
		#mapspb a.Dostoevskaia {
			top:269px;
			left:227px;
			width:90px;
			height:9px;
		}
		#mapspb a.Ligovskiiypr {
			top:269px;
			left:364px;
			width:90px;
			height:9px;
		}
	
		#mapspb a.Novocherkasskaia {
			top:369px;
			left:537px;
			width:81px;
			height:9px;
		}
		#mapspb a.Ladozhskaia {
			top:379px;
			left:537px;
			width:81px;
			height:9px;
		}
		#mapspb a.prBolshevikov {
			top:389px;
			left:537px;
			width:81px;
			height:9px;
		}
		#mapspb a.ulDibenko {
			top:399px;
			left:537px;
			width:81px;
			height:9px;
		}

